.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* calculator CSS */
form input {
  outline: none;
  width: 60px;
  height: 60px;
  font-size: 20px;
  background-color: cornflowerblue;
  margin: 5px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 50%;
  background: #1a1a19;
  box-shadow: 8px 8px 16px #0b0b0a, -8px -8px 16px #292928;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
}

.calculator {
  padding: 20px;
  border-radius: 22px;
  background: #1a1a19;
  box-shadow: 8px 8px 16px #0b0b0a, -8px -8px 16px #292928;
}
form input.equal {
  width: 127px;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}
form .display input {
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
  border-radius: 15px !important;
  outline: none;
}

form input[type="button"]:hover {
  background-color: #ee9406;
}

#yellow {
  background-color: #ee9406;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
